.ingredients {
  list-style-type: none; // Remove default bullet points
  padding-left: 0; // Remove default padding

  // Style each list item
  li {
    margin-bottom: 10px; // Add some space between list items
    font-size: $mob-font-size;
    line-height: 1.5; // Set line height
    color: #333; // Set text color

    // Add bullet point
    // &::before {
    //   content: "\2022"; // Unicode for bullet point
    //   color: #007bff; // Set bullet color
    //   display: inline-block; // Ensure the bullet is inline
    //   width: 1em; // Set bullet width
    //   margin-left: -1em; // Position bullet to the left of the list item
    // }

    img {
      width: 100%;
      height: 100%;
      max-width: 40px;
      max-height: 40px;
      margin-right: 5px;
    }
  }
}

@media (min-width: 1025px) {
  .ingredients {
    li {
      font-size: $dt-font-size;
    }
  }
}
