$primary-color: #ff0000;
$secondary-color: #faff00;
$tertiary-color: #f3f3f3;

$text-color: #808080;

$item-border-color: #cccccc;

$dt-font-size: 16px;
$tab-font-size: 18px;
$mob-font-size: 14px;
$font-weight-bold: 700;
